body 		{ background-color: #606060;
		  margin-top: 5%;
		  margin-bottom: 5%;
		  margin-left: 5%;
		  margin-right: 30%;
		}
h1		{ color: #e0e0e0;
		  font-size:28pt;
		  font-weight:bold;
		}
h2		{ color: #e0e0e0;
		}
h3		{ color: #e0e0e0;
		}
h4		{ color: #e0e0e0;
		}
h5		{ color: #6060e0;
		}
hr		{ color: #e0e0e0;
		}
card	{ color: #60F040;
		}
card-title	{ color: #E0E040;
		}
p 		{ font-family:Verdana;
		  font-size:12pt;
		  font-style:normal;
		  color:#e0e0e0;
		  background-color:#606060;
		  margin-top: 2%;
		  margin-bottom: 2%;
		  padding-left: 4%;
		  padding-right: 4%
		}

a:link		{ color:#20FF20; 
 		}

a:active	{ color:#FFFFFF;
 		}

a:visited	{ color:#F0F0C0;
 		}


